

.app {
  height: 100vh;
  width: 100vw;
  padding: 5px;
  background: #770000;

}

.appContent {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: var(--color-main-1);
}

.appContent > * {
  border-radius: 15px;
}