.maze {
    display: block;
    position: relative;
    font-family: 'PT Mono';
    overflow: visible;
}

.maze canvas {
    display: block;
    image-rendering: pixelated;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: 0 solid white;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
  }

.coords {
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translateY(-50%);
    width: 200%;
}